<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="aorc.gatepass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <aorc.gatepass.Properties.Settings>
            <setting name="ServerUri" serializeAs="String">
                <value>http://127.0.0.1:1212/ServerclassesS.soap</value>
            </setting>
            <setting name="UpdateServer" serializeAs="String">
                <value>\\172.18.8.9\d\SetUp GP\update.ver</value>
            </setting>
        </aorc.gatepass.Properties.Settings>
    </userSettings>
</configuration>